
<div class="blog-index">
  <div class="text-center">
    <header class="entry-header">
    <div class="entry-meta text-center">
      <span class="date-bar-white-bg">
        <%= blog.created_at.strftime("%B %d, %Y") %>
      </span>
    </div>
  </header>
    <h3 class="blog-index-title"><%= link_to blog.title, blog %></h3>
    <h5 class="blockquote"><%= blog.subtitle %></h5>
  </div>

  <a href='<%= blog_show_path(blog) %>'>
    <%= image_tag blog.cover_image, class: "blog-image" %>
  </a>
  <%= render partial: 'blogs/admin_actions', locals: { blog: blog } %>

  <hr />

  <div class="blog-index-footer">
    <div class="row align-items-start justify-content-between">
      <a href="<%= blog_show_path(blog) %>" class="col-md-3 btn btn-outline-light view-blog-button active" role="button" aria-pressed="true">View Post</a>
      <div class="col-md-3 text-right blog-topic-link">
        <p class="blog-topic-link-text">
          more on this topic?
        </p>
        <div class="hovereffect">
          <%= link_to image_tag(blog.topic.icon, width: 50, alt: "blog topic link"), topic_path(blog.topic) %>
          <p class="blog-topic-title">
            <%= link_to blog.topic.title, topic_path(blog.topic) %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
