
<div class="blog-post">
    <h1>title: <%= link_to blog.title, blog_show_path(blog) %></h1>
    <td>Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</td>
    <p>subtitle: <%= blog.subtitle %></p>
    <p><%= link_to blog.status, toggle_status_blog_path(blog) %></p>
    <h2>pics and words:</h2>

    <% blog.blog_contents.each do |t| %>
      <%= image_tag t.main_image %>
      <p>picture caption: <%= t.body %></p>
    <% end %>

    <%= render partial: 'blogs/admin_actions', locals: { blog: blog } %>
</div>
