
<div class="blog-index">
  <div class="text-center blockquote-header">
    <h8 class="blog-date"><%= blog.created_at.strftime("%B %d, %Y") %> </h8>
    <hr />
    <h3 class="blog-index-title"><%= link_to blog.title, blog %></h3>
    <h5 class="blockquote"><%= blog.subtitle %></h5>
  </div>
  <a href='<%= blog_show_path(blog) %>'>
    <%= image_tag blog.cover_image, class: "blog-image" %>
  </a>

  <%= render partial: 'blogs/admin_actions', locals: { blog: blog } %>
  <hr />
  <button class="btn blog-show-button text-center"><%= link_to 'View Post', blog %></button>
  <div class="float-right">
    <p>
      more on this topic
    </p>
    <button class="btn topic-links text-center float-right"><%= link_to blog.topic.title, topic_path(blog.topic) %></button>
  </div>
</div>
