<%= form_with(model: blog, local: true) do |f| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :title, class: 'form-control', placeholder: "Blog Title" %>
  </div>

  <div class="form-group">
    <%= f.text_field :subtitle, class: 'form-control', placeholder: "Blog Subtitle" %>
  </div>

  <div class="form-group">
    <%= f.label :cover_image %>
    <%= f.file_field :cover_image, class: 'form-control', placeholder: " BLog Cover Image" %>
  </div>

  <div class="form-group">
   <%= f.label :topic_id %>
   <%= f.collection_select(:topic_id, Topic.all, :id, :title,
                             {
                               include_blank: true
                             },
                             class: 'form-control'
                           )
   %>
 </div>

 <div class="form-group">
    <%= f.radio_button :status, 'draft' %>
    <%= f.label :status, 'Draft' %>

    <%= f.radio_button :status, 'published' %>
    <%= f.label :status, 'Published' %>
  </div>


  <div>
    <%= f.fields_for :blog_contents do |blog_content_form| %>
      <%= render 'blog_content_fields', f: blog_content_form %>
    <% end %>

    <div>
     <%= link_to_add_association 'Add Blog Field', f, :blog_contents %>
    </div>
  </div>
<hr />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
