<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :blog_title %>
  </div>

  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_area :subtitle, id: :blog_subtitle %>
  </div>

  <ul>
   <%= form.fields_for :blog_contents do |blog_contents_form| %>
     <li>
       <%= blog_contents_form.label :main_image %>
       <%= blog_contents_form.text_field :main_image %>
     </li>
     <li>
       <%= blog_contents_form.label :thumb_image %>
       <%= blog_contents_form.text_field :thumb_image %>
     </li>
     <li>
       <%= blog_contents_form.label :body %>
       <%= blog_contents_form.text_field :body %>
     </li>
   <% end %>
 </ul>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
