<div class="col-sm-8 blog-main">

  <h2><%= @blog.title %></h2>
  <p>
    <%= @blog.topic.title %>
  </p>
  <p><%= @blog.subtitle %></p>

  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>

  <h2>pics and words:</h2>

  <% @blog.blog_contents.each do |t| %>
  <%= image_tag t.main_image %>
  <p><%= t.body %></p>
  <% end %>

  <%= render 'comments/comment_form' %>

  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>

  <%= link_to 'Back', blogs_path %>
</div>
