<div class="container portfolio-container">
  <h2><%= @blog.title %></h2>
    <p><%= @blog.subtitle %></p>

    <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>
  
  <h2>pics and words:</h2>

    <% @blog.blog_contents.each do |t| %>
      <%= image_tag t.main_image %>
      <p><%= t.body %></p>
    <% end %>

    <%= render 'comments/comment_form' %>
    <%= render @blog.comments %>

    <%= link_to 'Back', blogs_path %>
</div>
