<div class="col-sm-4 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <div class='text-center pro-pic-sample'>
      <%= image_tag "pro-pic-sample.JPG", width: "100%",  alt: "profile image" %>
    </div>
    <p class="text-center">Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
  </div>

  <%= source_helper("alert alert-warning") %>
  <div class="sidebar-module sidebar-module-inset">
    <h5 class="text-center sidebar-module-header text-uppercase">Social Media</h5>
    <div class="d-flex justify-content-around side-bar-social-links">
      <!-- <div class="p-2"><a href="#"><%= fa_icon "github" %></a></div> -->
      <div class=""><a href="#"><%= fa_icon "instagram" %></a></div>
      <div class=""><a href="#"><%= fa_icon "facebook" %></a></div>
      <div class=""><a href="#"><%= fa_icon "twitter" %></a></div>
    </div>
  </div>

  <div class="sidebar-module sidebar-module-inset">
    <h5 class="text-center sidebar-module-header text-uppercase">Topics</h5>








    <div class="container">
      <div class="row text-center">
        <div class="col side-bar-topic-link">
          <%= link_to image_tag("caravan.png", width: 50, alt: "airstream image link"), topic_path(1) %>
          <p class="sibebar-topic-link-text">
            airstream
          </p>
        </div>
        <div class="col side-bar-topic-link">
          <%= link_to image_tag("cooking.png", width: 50, alt: "food image link"), topic_path(4) %>
          <p class="sibebar-topic-link-text">
            food
          </p>
        </div>
        <div class="col side-bar-topic-link">
          <%= link_to image_tag("paint-roller.png", width: 50, alt: "house projects image link"), topic_path(2) %>
          <p class="sibebar-topic-link-text">
            house projects
          </p>
        </div>
      </div>
      <div class="row text-center">
        <div class="col side-bar-topic-link">
          <%= link_to image_tag("wellness.png", width: 50, alt: "wellness image link"), topic_path(3) %>
          <p class="sibebar-topic-link-text">
            wellness
          </p>
        </div>
        <div class="col side-bar-topic-link">
          <%= link_to image_tag("caravan.png", width: 50, alt: "airstream image link"), topic_path(1) %>
          <p class="sibebar-topic-link-text">
            placeholder
          </p>
        </div>
        <div class="col side-bar-topic-link">
          <%= link_to image_tag("caravan.png", width: 50, alt: "airstream image link"), topic_path(1) %>
          <p class="sibebar-topic-link-text">
            placeholder
          </p>
        </div>

      </div>
    </div>


    <!-- <% @side_bar_topics.each do |topic| %>
      <button class="btn topic-links text-center"><%= link_to topic.title, topic_path(topic) %></button>
    <% end %>
  </div> -->
  <div class="sidebar-module sidebar-module-inset">
    <h5 class="text-center sidebar-module-header text-uppercase">Instagram</h5>
    <div class="container">
      <div id="instafeed" class="row"></div>
    </div>
  </div>
