<div class="col-sm-4 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <div class='text-center pro-pic-sample'>
      <%= image_tag "pro-pic-sample.JPG", width: "100%",  alt: "profile image" %>
    </div>
    <p class="text-center">Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
  </div>

  <%= source_helper("alert alert-warning") %>
  <div class="sidebar-module sidebar-module-inset">
    <h5 class="text-center sidebar-module-header text-uppercase">Social Media</h5>
    <div class="d-flex justify-content-around social-links">
      <!-- <div class="p-2"><a href="#"><%= fa_icon "github" %></a></div> -->
      <div class=""><a href="#"><%= fa_icon "instagram" %></a></div>
      <div class=""><a href="#"><%= fa_icon "facebook" %></a></div>
      <div class=""><a href="#"><%= fa_icon "twitter" %></a></div>
    </div>
  </div>

  <div class="sidebar-module sidebar-module-inset">
    <h5 class="text-center sidebar-module-header text-uppercase">Topics</h5>

    <div class="container">
      <div class="row text-center">
        <a  class="col topic-link" href="/topics/1">
          <%= image_tag "caravan.png", width: 50, alt: "airstream image", :class => "butter" %>
          <p class="sibebar-topic-link-text">
            airstream
          </p>
        </a>
        <a class="col topic-link" href="/topics/3">
          <%= image_tag "cooking.png", width: 50, alt: "airstream image" %>
          <p class="sibebar-topic-link-text">
            food
          </p>
        </a>
        <a class="col topic-link" href="/topics/3">
          <%= image_tag "paint-roller.png", width: 50, alt: "airstream image" %>
          <p class="sibebar-topic-link-text">
            house projects
          </p>
        </a>
      </div>
      <div class="row text-center">
        <a  class="col topic-link" href="/topics/1">
          <%= image_tag "chicken-logo.png", width: 50, alt: "airstream image", :class => "butter" %>
          <p class="sibebar-topic-link-text">
            other topic
          </p>
        </a>
        <a class="col topic-link" href="/topics/3">
          <%= image_tag "chicken-logo.png", width: 50, alt: "airstream image" %>
          <p class="sibebar-topic-link-text">
            other topic
          </p>
        </a>
        <a class="col topic-link" href="/topics/3">
          <%= image_tag "chicken-logo.png", width: 50, alt: "airstream image" %>
          <p class="sibebar-topic-link-text">
            other topic
          </p>
        </a>
      </div>
    </div>


    <!-- <% @side_bar_topics.each do |topic| %>
      <button class="btn topic-links text-center"><%= link_to topic.title, topic_path(topic) %></button>
    <% end %>
  </div> -->
  <div class="sidebar-module sidebar-module-inset">
    <h5 class="text-center sidebar-module-header text-uppercase">Instagram</h5>
    <div class="container">
      <div id="instafeed" class="row"></div>
    </div>
  </div>
